.profile{      
    margin-bottom: 0px;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid rgb(223, 219, 219); 
    padding-top: 30px;
    width: 300px; 
    background-color: #fff;     
}
.description{    
    padding-left: 40px;
    padding-right: 40px;      
}
.avatar{
    display: block;
    object-position: center;
    border-radius: 50%; 
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px;  
    width: 120px;
    height: 120px;     
}
.name, 
.tag,
.location{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
} 
.tag,
.location{
    opacity: 50%; 
    font-weight: 600; 
    font-size: 20px;
}
.name{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;    
}
.tag{
    margin-bottom: 15px;
}
.location{
    margin-bottom: 20px;   
}
.stats{
    padding: 0px;  
    margin: 0px;
    list-style: none;
    display: flex; 
    justify-content: center;
    border-radius: 4px;
    background-color:rgb(247, 250, 244)  
}
.statItem{    
    width: 100px;
    padding-top: 20px;
    padding-bottom: 15px; 
    border-radius: 4px; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.label,
.quantity{
    display: block;
    text-align: center;
}
.label{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    opacity: 50%;
}
.quantity{
    font-size: 18px;
    font-weight: 700;
}


